In [3]:
#maulana

var=40
phi=3.14
var2=50
variabel_saya= "variabel milik maulana"

print(var)
print(phi)
print(var2)
print(variabel_saya)
print(variabel_saya,"adalah",var2)

40
3.14
50
variabel milik maulana
variabel milik maulana adalah 50

In [4]:
var=40
phi=3.14
var2=50
variabel_saya= "variabel milik maulana"

print(var)
print(phi)
print(var2)
print(variabel_saya)
print(variabel_saya,"adalah",var2)

del(var2)
print(var2)

40
3.14
50
variabel milik maulana
variabel milik maulana adalah 50

NameError: name 'var2' is not defined

In [5]:
r=50
phi=3.14
keliling=2*phi*r
print("keliling lingkaran sama dengan",keliling)

keliling lingkaran sama dengan 314.0

In [6]:
#maulana
perbandingan = 12 > 10
print(perbandingan)

True

In [7]:
#maulana
perbandingan = 12 < 9
print(perbandingan)

False

In [10]:
#maulana
siswa=64
print(float(siswa))

print(bin(siswa))

print(hex(siswa))

64.0
0b1000000
0x40

In [16]:
judul= "Biodata Mahasiswa"
nama="nama: maulana ibnu"
nim="nim: 20090092"
semester=5
IPK=4.00
print(judul)
print(nama)
print(nim)
print("""
Dia mahasiswa semester""",semester,"yang berprestasi,karena memiliki IPK sebesar ",IPK)

del(IPK)
print(IPK)

Biodata Mahasiswa
nama: maulana ibnu
nim: 20090092

Dia mahasiswa semester 5 yang berprestasi,karena memiliki IPK sebesar  4.0

NameError: name 'IPK' is not defined